html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
/* @media (max-width:768px) { */



    @keyframes rightToleft {
        from {
            transform:translateX(0);
        }
        to{
            transform:translateX(30px);
        }
    }

    .animate2 {
        animation-duration:0.8s;
    }

    .rightToleft {
        animation:checkmark 1s ease-in;
    }


    .nav-logo {
        font-family: "Shrikhand", sans-serif;
        display:flex;
        flex-flow:row nowrap;
        padding:10px;
        position:relative;
        padding-bottom: 60px;
    }
    .logo {
        position:absolute; 
        margin-left:35%;
    }

    .go-back {
        width:50%;
        position:absolute; 
        top:25px;
        text-decoration: none;
        color:gray;
        font-weight: bold;
        font-size:x-large;
    }


    .images {
        border-radius: 0px;
        z-index:-5;
        position:relative;
        height:220px;
    }

    .restaurant-title {
        font-family: "Shrikhand", sans-serif;
        font-weight: lighter;
        padding-top:0px; 
    }

    .flex-heart {
        padding:10px 10px;
    }
    .title-heart {
        position:absolute;
        float:right;
        margin-left:90%;
        margin-top:15px;
    }


    .big-container {
        background-color: #F2F2F2;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        margin-top:-40px;
        padding-bottom: 90px;
        position:relative;
    }

    .food-sortiments {
        padding:0px 10px 30px 10px;
        display:flex;
        flex-flow:column nowrap;
        gap:30px;
    }



    .food-category {
        color:gray;
        padding-bottom:5px;
        margin-bottom:10px;
        position:relative;
        z-index:1;
    }
    .food-category:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 10%;
        border-bottom:2px solid #99E2D0;  
    }

    .food-item {
        display:flex;
        flex-flow:column wrap;
        gap:2px;
        padding:10px;
        margin-bottom:10px;
        border-radius: 15px;
        position:relative;
        background-color: #fffefe;
    }

    .checkmark {
        position:absolute;
        height:100%;
        width:50%;
        float:right;
        margin-left:87%;
        background-color:#FF79DA;
        display:none;
    }

    .food-item a{
        text-decoration: none;
        color:black
    }

    .checkmark:active,
    .checkmark:hover {
        visibility:visible;

    }
    .food-names {
        font-weight: bold;
    }
    .sides {
        color:gray;
        padding-top:3px;
    }

    .price {
        width:50%;
        position:absolute; 
        float:right;
        margin-left:87%;
        top:30px;
    }

    .make-order {
        color:white;
        width:fit-content;
        padding:10px 60px;
        border-style:none;
        border-radius: 15px;
        position:absolute; 
        margin-left:35%;
        background-image: linear-gradient(#FF79DA, #9356DC);
    }
    .make-order a{
        text-decoration: none;
        font-weight: bold;
        font-size: smaller;
    }

    /*  tablet */

@media (min-width: 768px) and (max-width:992px) {

    .logo {
        margin-left:43%;
    }
    .title-heart {
        margin-left:93%;
    }
    .price {
        margin-left:93%;
    }
    .make-order {
        margin-left:43%;
    }
}


/*  desktop */

@media (min-width:992px) {

    .logo {
        margin-left:47%;
    }
    .title-heart {
        margin-left:96%;
    }

    .food-sortiments {
        width:100%;
        flex-flow:row nowrap;
        gap:30px;
    }

    .category {
        width:32%;
    }

    .price {
        margin-left:88%;
    }
    .make-order {
        margin-left:47%;
    }
}