html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
/* mobile (max-width:768px)  */


.lds-ring {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    transition: opacity 0.75s, visibility 0.75s;
}
.lds-ring--hidden {
    opacity: 0;
    display:none;
    /* visibility: hidden; */
  }
  
  .lds-ring::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }




/* Modelul2 */


/* .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  } */
  /* .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }  */

  /* @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */


  /* modelul 3 */
/* 
  .lds-ring {
    display: flex;
    justify-content: center;
  }
  
  .lds-ring--full-height {
    align-items: center;
    height: 100%;
  }
  
  .lds-ring::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #dddddd;
    border-top-color: #009579;
    border-radius: 50%;
    transform: rotate(0.16turn);
    animation: loading-ring 1s ease infinite;
  }
 */

  /* @keyframes loading-ring {
    
    from {
      transform: rotate(0turn);
    }
    
    to {
      transform: rotate(1turn);
    }
  } */

@keyframes loadingpage {
    from {
        transform: translateY(30px);
    }
     to {
        transform:translateY(0);
     }
}
.animate {
    animation-duration: 1.5s;
}

.animate.animation-fast {
    animation-duration: 0.7s;
}

.animate.animation-medium {
    animation-duration: 0.9s;
}

.animate.animation-slow {
    animation-duration: 1.3s;
}

.animate.animation-slowest {
    animation-duration:1.5s;
}
.loadingpage {
    animation: loadingpage 1s ease-in normal;
}

    body {
        font-family: "Roboto", sans-serif;
        overflow-x:hidden;
    }


    .logo{
        display:flex;
        justify-content: center;
        padding:20px 0px 10px 0px;
        font-family: "Shrikhand", sans-serif;
    }

    .location-search {
        display:flex;
        flex-flow: row nowrap;
        width:100%; 
        justify-content: center;
        padding:10px 0px 10px 50px;
        background-color: rgb(234, 234, 234);
        box-shadow:inset 0px 3px 5px rgba(0, 0, 0, 0.1);
    }
    .searchbar {
        border-style: none;
        background-color: rgb(234, 234, 234);
        padding-left:10px;
    }
    ::placeholder {
        color:black;
        font-weight: bolder;
        font-size:16px;
    }

    .background-box {
        background-color: #F2F2F2;
        display:flex;
        flex-flow:column wrap;
        align-items: center;
        row-gap: 20px;
    }
    .text-header {
        padding:0px 20px 0px 40px;
        text-align: center;
    }

    .restaurants-search {
        margin-bottom:40px;
        padding:10px 20px;
        border-style:none;
        border-radius: 15px;
        background-image: linear-gradient(#FF79DA, #9356DC);
    }
    .restaurants-search a{
        text-decoration: none;
        color:white;
        font-weight: bold;
        font-size: smaller;
    }

    .text-style2{
        margin-left:20px;
    }
 
    .step-list {
        display:flex;
        flex-flow:column nowrap;
        margin-left:20px;
        margin-right:14px;
        row-gap: 15px;
    }
    .step a{
        display:flex;
        flex-flow: row nowrap;
        column-gap: 15px;
        padding:25px 20px 25px 10px;
        border-style:none;
        border-radius: 15px;
        background-color: #F2F2F2;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        color:black;
        font-weight: bold;
    }

    .icons-form {
        color:gray;
    }

    .step a:hover,
    .step a:active{
        background-color: #e9e3f0;
        
    }

    .step-count {
        margin-left:-18px;
        margin-bottom: -4px;
        margin-top:-5px;
        color:white;
        padding:4px 8px 3px 8px;
        border-width:2px;
        border-radius: 50%;
        background-color:#9356DC;
    }

    .title-style {
        margin-left:10px;
    }
    .restaurant-options{
        background-color: #F2F2F2;
        display:flex;
        flex-flow: column nowrap;
        margin-top:40px;
        padding:20px 0px 60px 10px;
        width:100%;
    }

    .restaurant-item{
        display:flex;
        flex-flow:column nowrap;
        position:relative;
        margin:0px 15px 20px 0px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 3px -3px 5px rgba(0, 0, 0, 0.1);
    }

    .restaurant-item a{
        text-decoration: none;
        color:black;
    }

    .restaurant-item a:hover,
    .restaurant-item a:active {
        color: #9356DC;
    }

    .images {
        height:200px;
        width:100%;
        object-fit:cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        z-index:1;
    }

    .new-tag {
        position:absolute;
        z-index:2;
        background-color: rgb(100, 247, 198);
        color:green;
        float:right;
        margin-left:80%;
        margin-top:15px;
        padding:5px 20px;
    }
    .flex-heart {

        display:flex;
        flex-flow:row nowrap;
        padding:20px 10px;
    }

    .restaurant-name {
        font-weight: bold;
    }

    .heart-animation {
        display:inline;
        position:absolute;
        float:right;
        margin-left:85%;
    }
    .solid-heart {
        position:absolute;
        float:right;
        margin-left:85%;
        display:none;
    }

    .regular-heart { 
        position:absolute;
        float:right;
        margin-left:85%;
    }  

    .heart-animation a:hover > .regular-heart{
        display:none;
        background: -webkit-linear-gradient(#FF79DA, #9356DC);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    }

    .heart-animation a:hover > .solid-heart{
        display:block;
        background: -webkit-linear-gradient(#FF79DA, #9356DC);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    footer{
        background-color:rgb(39, 38, 38);
        color:white;
        padding:20px 0px 60px 20px;
        display:flex;
        flex-flow: column nowrap;
        gap:10px;
    }

    .logo-footer {
        font-family: "Shrikhand", sans-serif;
        filter:invert(10);
        width:50px;
        height: 20px;
        margin-bottom:5px;
    }

    .logo-text {
        padding-top:5px;
    }

    .textfooter {
        padding-top:5px;
    }

    .logo-text a{
        text-decoration: none;
        color:white;
    }

    .textfooter a{
        text-decoration: none;
        color:white;
    }

/*  tablet */

@media (min-width: 768px) and (max-width:992px) {

    .restaurant-options{
        background-color: #F2F2F2;
        padding-top:20px;
        margin-top:40px;
    }

    .restaurant-display {
        display:flex;
        flex-flow:row wrap;
        margin-top:20px;
        margin-left:10px;
    }

    .restaurant-item{
        height:280px;
        width:46%;
        margin:0px 28px 25px 0px;
    }

    .new-tag {
        margin-left:78%;
    }

    .regular-heart {
        margin-left:87%;
    }
    .solid-heart {
        margin-left:87%;
    }

    .footer-display {
        display:flex;
        flex-flow:row wrap;
    }
    .logo-text {
        width:50%;
    }

    .textfooter {
        width:50%;
    }

}


/*  desktop */

@media (min-width:992px) {

    @keyframes loadingpage {
        from {
            transform: translateX(100px);
        }
         to {
            transform:translateX(0);
         }
    }
    .step-list {
        display:flex;
        flex-flow:row nowrap;
        column-gap: 50px;
    }

    .step {
        width:33%;
    }

    .restaurant-options{
        background-color: #F2F2F2;
        padding-top:20px;
        margin-top:40px;
    }

    .restaurant-display {
        display:flex;
        flex-flow:row nowrap;
        margin-top:20px;
        margin-left:10px;
    }

    .restaurant-item{
        height:280px;
        width:25%;
        margin:0px 28px 25px 0px;
    }
    .new-tag {
        margin-left:70%;
    }

    .regular-heart {
        margin-left:85%;
    }
    .left-heart {
        margin-left:85%;
    }

    .footer-display {
        display:flex;
        flex-flow:row nowrap;
    }
    .logo-text {
        width:25%;
    }

    .textfooter {
        width:25%;
    }
}