html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
@media (max-width:768px) {

    .nav-logo {
        display:flex;
        flex-flow:row nowrap;
        padding:10px;
        position:relative;
        padding-bottom: 60px;
    }
    .logo {
        width:50%;
        position:absolute; 
        right:100px;

    }

    .go-back {
        width:50%;
        position:absolute; 
        top:25px;
        text-decoration: none;
        color:gray;
        font-weight: bold;
        font-size:x-large;
    }


    .images {
        border-radius: 0px;
        z-index:-5;
        position:relative;
        height:220px;
    }

    .restaurant-title {
        font-family: "Shrikhand", sans-serif;
        font-weight: lighter;
        padding-top:0px; 
    }

    .flex-heart {
        padding:10px 10px;
    }

    .big-container {
        background-color: #F2F2F2;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        margin-top:-40px;
        padding-bottom: 90px;
        position:relative;
    }

    .food-sortiments {
        padding:0px 10px 30px 10px;
        display:flex;
        flex-flow:column nowrap;
        gap:30px;
    }

    .food-category {
        padding-bottom:5px;
        margin-bottom:10px;
        position:relative;
        z-index:1;
    }
    .food-category:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 10%;
        border-bottom:2px solid #99E2D0;
        
    }
    .food-item {
        display:flex;
        flex-flow:column wrap;
        gap:2px;
        padding:10px;
        margin-bottom:10px;
        border-radius: 15px;
        position:relative;
        background-color: #fffefe;
    }
    .food-names {
        font-weight: bold;
    }

    .price {
        width:50%;
        position:absolute; 
        right:-130px;
        top:30px;
    }

    .make-order {
        width:fit-content;
        padding:10px 60px;
        border-style:none;
        border-radius: 15px;
        position:absolute; 
        right:120px;
        background-image: linear-gradient(#FF79DA, #9356DC);
    }
    .make-order a{
        text-decoration: none;
        color:white;
        font-weight: bold;
        font-size: smaller;

    }
}